.piece
  width: 150px
  height: 150px
  perspective: 1000px

  &-content
    position: relative
    width: 100%
    height: 100%
    transition: transform 0.8s;
    transform-style: preserve-3d;
  
  &-content-front,
  &-content-back
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px
  
  &.is-active
    .piece-content 
      transform: rotateY(180deg)
  
  &.is-removed
    visibility: hidden
    opacity: 0
    transition: .3s
  
  &-content-front
    transform: rotateY(180deg)
    background-size: contain

  &-content-back
    display: flex
    align-items: center
    justify-content: center
    background-image: url('../../assets/images/background.png')
    background-size: cover
    background-position: center center
  

  
  





